/* 1st,2nd,3rd,4th Instructions */

body{
    width:960px;
    margin:0px 0px 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
}

/* 5th Instruction */
ul{
    list-style-type: none;
    padding:0px;
}

p~ul{
    list-style-type: disc;
    padding-left:40px;
}

/* 6th Instruction */
h2{
    border: 1px #929CA4 solid;
    background-color: #DFE3E6;
    padding-left: 15px;
    border-radius: 5px;
}

/* 7th & 8th Instructions */
a, h2{
    color: #CC1C0D;
}

/* 9th Instruction */
img{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

/* 10th Instruction */
section img{
    border: #CC1C0D solid 2px;
    border-radius: 40px;
    margin-right: 20px;
}

/* 11th Instruction */
.pricing div{
    display: inline;
    float: left;
    width:24.1%;
    border: #929CA4 solid 1px;
    border-radius: 10px;
    margin: 3px;
    text-align: center;
}

.pricing img{
    border:none;
    float: none;
    margin:10% auto;
}

.pricing hr{
    height: 10px;    
}

.pricing #vprospect{
    background-color: #CC1C0D;
}

.pricing #vconvert{
    background-color: #37A4A4;
}

.pricing #vretain{
    background-color: #685288;
}

.pricing #enterprise{
    background-color: #000000;
}

div span{
    float:none;
    display:inline-block;
    margin: 13% auto;
}

